/*
POLICE
*/
@font-face{
	font-family: "OpenSansLight";
	src: url('police/OpenSans-Light.ttf'); 
}
@font-face{
	font-family: "OpenSansSemiBold";
	src: url('police/OpenSans-Semibold.ttf'); 
}

/*
GENERAL
*/

html{
	margin: auto;
	font-family: OpenSansLight;
	overflow: hidden;
}

h1{
	text-align: center;
	color: #fd7e01;
	font-family: OpenSansSemiBold;
}

img{
	max-width: 30%;
	vertical-align: middle;
}

a{
	text-decoration: none;
	font-family: OpenSansSemiBold;
	padding: 5px;
	color: white;
	border: solid 1px #fd7e01;
	border-radius: 5px;
	background-color: #fd7e01;
}

a:hover{
	color: grey;
}

p{
	text-align: center;
	color: darkgrey;
}