/*
POLICE
*/
@font-face{
	font-family: "OpenSansLight";
	src: url('police/OpenSans-Light.ttf'); 
}
@font-face{
	font-family: "OpenSansSemiBold";
	src: url('police/OpenSans-Semibold.ttf'); 
}

/*
GENERAL
*/

html{
	max-width: 100%;
	margin: auto;
	font-family: OpenSansLight;
}

body{
	margin: auto;
	top:0;
	left:0;
}

/*Gauche*/
#gauche{
	max-width: 30%;
	height: 100%;
	float: left;
	padding-top:15%;
	margin-left: 5%;
}
#gauche img{
	
}
#gauche h1{
	margin-top: -20px;
	color: #fd7e01;
	text-align: center;
	font-family: OpenSansSemiBold;
}
#gauche .nav{
	list-style-type: none;
}
#gauche .nav a{
	text-decoration: none;
	color: grey;
}
#gauche .nav a:hover{
	color: darkgrey; 
}
/*Droite*/

#droite{
	max-width: 70%;
	float: left;
	background: #EFEFEF;
	margin-left: 5%;
}
#droite img{
	width: 100%;
}