/*
POLICE
*/
@font-face{
	font-family: "OpenSansLight";
	src: url('police/OpenSans-Light.ttf'); 
}
@font-face{
	font-family: "OpenSansSemiBold";
	src: url('police/OpenSans-Semibold.ttf'); 
}

/*
GENERAL
*/

html{
	/*max-width: 800px;*/
	min-width: 480px;
	margin: auto;
	font-family: OpenSansLight;
}

body{
	width: 100%;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	background:#EFEFEF; /*a supprimer ensuite*/
}

footer{
	text-align: center;

}
/*nav*/
.nav{
	position: fixed;
	z-index: 2;
	color: white;
	background: #fd7e01;
	height: 50px;
	width: 100%;
}

.nav img{
	width: 50px;
	float: left;
}
.nav #BoutonMenu{
	width: 50px;
	height :50px;
	float: right;
}

.nav h3{
	float: left;
	font-family: OpenSansSemiBold;
	font-size: large;
}

/*nav2*/
.nav2{
	display: none;
	z-index: 2;
	background: #fd7e01;
	position: absolute;
	top: 50px;
	right: 0;
}
.nav2 li{
	text-decoration: none;
	color: white;
	padding-bottom: 5px;
}


/*photo*/
.container{
	display: block;
	position: relative;
	text-align: center;
	margin: auto;
	padding-top: 5px;
	border: 5px solid #ddd;
	background: white;
}
.container img{

}

/*footer*/
footer a{
	text-decoration: none;
	color: black;
}
footer a:hover{
	color: darkgrey;
}