<ion-view>
	<ion-content>
		<!--Login part-->
		<div class="list" ng-show="switchlogsign">
			<label class="item item-input">
				<span class="input-label">Email :</span>
				<input type="text" ng-model="mail">
  			</label>
  			<label class="item item-input">
    			<span class="input-label">Password :</span>
    			<input type="password" ng-model="pass">
  			</label>
  			<div class="padding">
  				<button class="button button-royal button-block" ng-click="login(mail,pass)">Login</button>
				<button class="button button-block button-outline button-royal" ng-click="switchlogsign = !switchlogsign">Sign up !</button>
  			</div>
		</div>

		<!--Signup part-->
		<div class="list" ng-hide="switchlogsign">
			<label class="item item-input item-stacked-label">
    			<span class="input-label">Username</span>
    			<input type="text" placeholder="Whispy" ng-model="username">
  			</label>
  			<label class="item item-input item-stacked-label">
    			<span class="input-label">Password</span>
    			<input type="password" placeholder="********" ng-model="pass">
  			</label>
  			<label class="item item-input item-stacked-label">
    			<span class="input-label">Retype Password</span>
    			<input type="password" placeholder="********" ng-model="pass2">
  			</label>
  			<label class="item item-input item-stacked-label">
    			<span class="input-label">Email</span>
    			<input type="text" placeholder="rousseaddict@gmail.com" ng-model="mail">
  			</label>
  			<div class="padding">
  				<button class="button button-block button-outline button-royal" ng-click="signup(username,pass,pass2,mail)">Sign up !</button>
  			</div>
		</div>
	</ion-content>
</ion-view>