<ion-view hide-back-button="true">
	<ion-content>
        <div class="list card">
            <div class="item item-divider item-image">
                <h1 class="royal">Last Uploaded !</h1>
            </div>
            <div class="item item-image">
                <img ng-src="{{rousses[rousses.length -1].image}}">
            </div>

            <a class="item item-icon-left royal" ui-sref="info({num: rousses.length-1})">
                <i class="icon ion-information"></i>
                See More Infos
                <span class="badge badge-royal">{{rousses[rousses.length -1].like}}</span>
            </a>
        </div>
        
        <!--
		<div class="tabs-striped tabs-color-royal">
    		<div class="tabs">
    		  <a class="tab-item active" href="#/home">
    		    <i class="icon ion-home"></i>
    		    Home
    		  </a>
    		  <a class="tab-item" href="#">
    		    <i class="icon ion-star"></i>
    		    Favorites
    		  </a>
    		  <a class="tab-item" href="#">
    		    <i class="icon ion-thumbsup"></i>
    		    Settings
    		  </a>
    		</div>
  		</div>
        -->

	</ion-content>
</ion-view>