<ion-view>
	<ion-content>

		<div class="list card">
  			<div class="item item-avatar">
    			<img src="{{infos.image}}">
    			<h2>Rousse: {{infos.num}}</h2>
    			<p>Uploaded date: {{infos.date}}</p>
  			</div>

  			<div class="item item-body item-image">
  				<img src="{{infos.image}}">
    			<p>
      				{{infos.description}}
    			</p>
    			<p>
    				<a href="#" class="subdued">{{infos.like}} Like</a>
     				<a href="#" class="subdued">{{}}0 Comments</a>
    			</p>
  			</div>
  			<div class="item item-divider">
  				<div class="button-bar">
  					<a class="button royal" ng-click="like()">Like</a>
  					<!--<a class="button royal" ng-click="showComment != showComment">Comment</a>-->
  					<a class="button royal" ng-click="share()">Share</a>
				  </div>
  			</div>
        <!--comment-->
       <!-- <div class="item" ng-repeat="x in infos.comment" ng-show="showComment">
          <p>{{x.user}} : {{x.commment}}</p>
        </div>
        <div class="item" ng-show="showComment">
          <button class="button button-block royal">Add Comment</button>
        </div>-->
		</div>

	</ion-content>
</ion-view>