<ion-view>
	<ion-content>
		
		<div class="card">
			<div class="item item-button-right">
    			<h2>Upload a Ginger Pix</h2>
    			<p>Be sure of two things : she's redheads, and it's a PNG or JPG</p>
  			</div>

  			<div class="item item-image">
    			<img id="profileImage" src="profileImage" style="max-width:200px; max-height:200px;">
  			</div>

  			<div class="item item-icon-left royal">
    			<i class="icon ion-upload"></i>
          <input type="file" accept="image/*" capture="camera" id="file-upload">
        </div>
        <div class="item item-input">
          <input type="text" placeholder="Enter description..." ng-model="description">
          </label>
        </div>
        <div class="item item-button-right royal">
          Uploaded on : {{date | date:'dd-MM-yyyy'}}  
          <button class="button button-royal" ng-click="validate(description)">Add to Gallery</button>
        </div>
  		</div>
	</ion-content>
</ion-view>